In [1]:
import pandas as pd 
import numpy as np
import cryptography

#Mysql toolkit
import pymysql # This will work as adapter
from sqlalchemy import create_engine


print(pd.__version__)
print(np.__version__)
print(cryptography.__version__)

2.1.4
1.26.4
45.0.4

**Step :1 : Data Exploration & Leading**

In [2]:
##importing Dependencies

Dataset=pd.read_csv("Walmart.csv",encoding_errors='ignore')
Dataset.head(5)

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

**Step-2 : Data Cleaning**

In [3]:
# Sum of all duplicate
Dataset.duplicated().sum()
Dataset.drop_duplicates(inplace=True)

#Deal with null value
Dataset.dropna(inplace=True)
Dataset.isnull().sum()

#Deal with data type of columns
Dataset['unit_price']=Dataset['unit_price'].str.replace('$','').astype(float)
Dataset.head(5)

## Create a New column
Dataset['Total']=Dataset['unit_price'] * Dataset['quantity']

In [4]:
#Create a new clean file
Dataset.to_csv("Walmart_clean_data.csv",index=False)#This is used fro saving a clean datast file
#index : In this we are tellin to pandas remove the indexing in this data

In [5]:
#create a connection with mysql

# MySql
# Host = localhost
# port = 3306
# user = root
# password = "your_password"

In [ ]:
#Mysql Connection

#This is Sql engine which is use fro connecting the my SQL

Sql_engine=create_engine("mysql+pymysql://root:Choudhary12#@localhost:3306/walmart_DBMS")
try:
    Sql_engine
    print("Succesfully Connect")
except:
    print("Not Connect sucessfully")

Succesfully Connect

In [ ]:
#Name : Table Name
#Con = this is work like a connector 
# Index = this is provide a index by row wise

Dataset.to_sql(name='Walmart',con=Sql_engine,if_exists='append',index=False)
#This is use for convert into Sql

C:\Users\LAVI TARAR\AppData\Local\Temp\ipykernel_6820\1651571188.py:1: UserWarning: The provided table name 'Walmart' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  Dataset.to_sql(name='Walmart',con=Sql_engine,if_exists='append',index=False)

9969